html,
body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial, sans-serif;
}


/*центровщик*/

.layout-positioner {
  outline: 0px dashed orange;
  max-width: 1250px;
  margin: 0 auto;
}
@media screen and (min-width: 1300px) {
    .layout-positioner {max-width: 1300px;}
}
@media screen and (max-width: 1100px) and (min-width: 800px) {
    .layout-positioner {max-width: 800px;}
}


/*хедер*/

.header,
._header {
  min-height: 40px;
  background-color: #4FC1E9;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 1000;
}


/*лого*/

.header .header-title,
._header .header-title {
  float: left;
  padding: 5px;
  max-width: 300px;
  margin-top: 5px;
  padding-left: 3px;
}
@media screen and (max-width: 690px) {
  .header .header-title {
    display: none;
  }
  .footer .footer-text {
    font-size: 0;
  }
}


.header .header-title a,
._header .header-title a {
  display: block;
  text-decoration: none;
  color: black;
}

.header .header-title a:hover,
._header .header-title a:hover {
  color: #f5f7fa;
}


/*главное меню*/

.header .header-menu,
._header .header-menu {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  padding-right: 3px;
}

.header .header-menu li,
._header .header-menu li {
  display: inline-block;
  list-style: none;
  white-space: nowrap;
  margin-right: 0px;
}

.header .header-menu li a,
._header .header-menu li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-left-color: transparent;
  padding: 5px;
  margin-left: -6px;
  font-size: 1em;
}

.header .header-menu li:first-child a,
._header .header-menu li:first-child a {
  border-left-color: black
}

.header .header-menu li a:hover,
._header .header-menu li a:hover {
  color: #f5f7fa;
  border-color: #f5f7fa;
}

.header .header-menu li .active,
._header .header-menu li .active {
  color: #f5f7fa;
  border-color: #f5f7fa;
  border-left-color: #f5f7fa !important;
}

.header .header-menu li a:last-child:hover,
._header .header-menu li a:last-child:hover {
  color: #f5f7fa;
  border-color: #f5f7fa;
}


/*вертикальное меню*/

.vert-menu-cont {
  position: relative;
  float: left;
  background-color: #e6e9ed;
  width: 125px;
  margin-top: 50px;
}

.vert-menu-cont .vert-menu {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
  background-color: #e6e9ed;
  z-index: 1000;
}

.vert-menu-cont .vert-menu li {
  margin-bottom: -1px;
}

.vert-menu-cont .vert-menu a {
  display: block;
  color: #0088CC;
  text-decoration: none;
  border: 1px solid #2980b9;
  padding: 5px;
}

.vert-menu-cont .vert-menu .active {
  color: white;
  background: #0088CC;
}

.vert-menu-cont .vert-menu a:hover {
  background: #ccd1d9;
}

.vert-menu > li {
  position: relative;
}

.vert-menu .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FCF8E3;
  position: absolute;
  width: 150px;
  display: none;
  z-index: 100;
}


/**********sub-menus************/

.vert-menu .sub-menu1 {
  left: 135px;
  top: -10px;
}

.vert-menu .sub-menu2 {
  left: 135px;
  top: -90px;
}

.vert-menu .sub-menu3 {
  left: 135px;
  top: -20px;
}

.vert-menu .sub-menu4 {
  left: 135px;
  top: -10px;
}

.vert-menu .sub-menu5 {
  left: 135px;
  top: -30px;
}

.vert-menu .sub-menu6 {
  left: 78px;
  top: 0px;
}

.vert-menu .sub-menu7 {
  left: 78px;
  top: 0px;
}

.vert-menu .sub-menu8 {
  left: 135px;
  top: -10px;
}

.vert-menu .sub-menu9 {
  left: 78px;
  top: -10px;
}

.vert-menu .sub-menu-less {
  left: 135px;
  top: -10px;
}

.vert-menu .sub-menu-bs {
  left: 125px;
  top: -10px;
}

.vert-menu .sub-menu-nodejs {
  left: 75px;
  top: 0;
}

.vert-menu .sub-menu a {
  border: 1px solid #E5E5E5;
  margin: -1px;
}

.vert-menu > li:hover .sub-menu {
  display: block;
}




/*контент*/

.content {
  min-height: 92vh;
  margin-left: 125px;
  padding: 20px;
  /*border-left: 1px solid #967adc;*/
}

.content h2 {
  margin-top: 25px;
}


/*футер*/

.footer {
  min-height: 40px;
  background-color: #3BAFDA;
  font-size: 0.9em;
  border-top: 1px solid black;
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer .footer-text {
  float: left;
  margin-top: 3px;
  padding-left: 3px;
}

.footer .footer-copyright {
  float: right;
  text-align: right;
  margin-top: 11px;
  padding-right: 3px;
}


/*оформление*/

code {
  color: green;
  font-size: 1.5em;
  line-height: 1.7em;
  margin-bottom: 10px;
  font-weight: bold;
}

code span {
  font-weight: normal;
}

.text-html {
  word-spacing: 8px;
  text-indent: 25px;
  text-align: justify;
  line-height: 1.5em;
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.discription {
  margin-bottom: 10px;
  border-collapse: collapse;
}

.discription td {
  padding-bottom: 20px;
}

.discription td:nth-child(2) {
  width: 50px;
}

.discription td:nth-child(3) {
  border: 1px dotted gray;
  min-width: 350px;
}

.discription td:nth-child(4) {
  border: 1px dotted gray;
  padding: 5px;
}

.discription-table {
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.9em;
  border: 1px solid black;
}

.discription-table caption {
  font-size: 1.1em;
  font-weight: bold;
  height: 24px;
}

.discription-table th,
.discription-table td {
  padding: 5px;
  border: 1px solid black;
}

.discription-table th:nth-child(2),
.discription-table th:nth-child(4) {
  width: 300px;
}

.discription-table td:first-child,
.discription-table td:nth-child(3) {
  color: red;
  font-weight: bold;
  width: 150px;
}


/*псевдораспорка*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.small-header {
  color: gray;
  text-decoration: underline;
  margin: 0;
  margin-bottom: 5px;
  font-size: 200%;
}


/*----------------------------*/

.directory-item {
  padding: 5px;
}

.directory-item .html {
  float: left;
  min-height: 50px;
  margin-bottom: 5px;
}

.directory-item .css {
  margin-left: 5px;
  float: right;
  min-height: 50px;
}

.directory-item .display {
  clear: both;
  min-height: 50px;
  padding: 5px;
  border: 1px solid black;
}


/*----------------------------*/

.box {
  background-color: maroon;
  border: 1px solid orange;
  color: white;
  margin-bottom: 5px;
  height: 50px;
  margin-right: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.box1 {
  box-sizing: content-box;
  height: 50px;
  width: 150px;
  padding: 10px;
  border: 5px solid red;
}

.box2 {
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  padding: 10px;
  border: 5px solid red;
}

.description_ {
  clear: both;
  font-size: 1.2em;
  text-align: justify;
}

.description_ a {
  color: #000;
  text-decoration: none;
  cursor: text;
}

.example-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.example-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.react {
  color: maroon;
}
.active > .react {
  color: #fff;
}

.new-table {
  padding: 10px;
  border: 1px solid #ddd;
}
.new-table h2 {
  font-size: 1.25em;
}
.new-table mark {
  background: none;
  color: #C85470;
}
.new-table th {
  padding: 10px;
}
.new-table td {
  vertical-align: top;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
.new-table tr > td:first-child,
.new-table tr > td:nth-child(2) {padding-right: 15px;}
.new-table h2 {
  color: #7d657a;
  margin: 0;
}
.new-table th[colspan] {
  background: #997393;
}
.new-table th {
  border-bottom: 1px solid #ddd;
}
.new-table th > code {
  color: #EAE2C1;
  font-size: 2em;
}
.new-table code {
  font-size: 18px;
  line-height: 24px;
  color: #729997;
}
.new-table tr > td {padding-top: 10px;}
.new-table tr > td:nth-child(1) { min-width: 300px; }
.new-table tr > td:nth-child(2) { min-width: 500px; }
.new-table tr > td:nth-child(3) { width:     250px; }

.new-table span.gray {
  display: block;
  margin-top: 15px;
  color: #aaa;
  font-family: monospace;
  font-size: 14px;
}

.new-table code > span {
color: #aaa;
}
