.cont-main {
	padding-top: 50px;
	padding-right: 30px;
	
}

.photo {
	position: relative;
	height: 120px;
	width: 120px;
	overflow: hidden;
	border-radius: 50%;
	float: right;
	margin: 20px;
}

.photo img {
	position: absolute;
	top: -20px;
	left: -105px;
}

.name-prof-cont {
	display: block;
	float: right;
	padding: 10px;
	margin-top: 45px;
}

.name-prof-cont strong {
	font-size: 55px; 
	text-shadow: 0 1px 0 #999999, 
				0 2px 0 #888888, 
				0 3px 0 #777777, 
				0 4px 0 #666666, 
				0 5px 0 #555555, 
				0 6px 0 #444444, 
				0 7px 0 #333333, 
				0 8px 7px #000B21;
}
.name-prof-cont span {
	text-align: right;
	float: right;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts {
	float: right;
	padding: 0px;
	margin-top: 15px;
	margin-right: 55px;
}

.e-mail {
	margin-bottom: 20px;
}
.e-mail .e-mail-adress {
	font-size: 2em;
	padding-top: 5px;
	vertical-align: middle;
	font-weight: bold;
}

.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 73px;
    height: 73px;
	background-image: url(img/social.png);	
    background-repeat: no-repeat;
	border-radius: 50%;
	
}

.e-mail .ya {
	background-position: -210px -420px;
}

.e-mail .ya:hover {
	box-shadow: 2px 3px 1px #f4cfcf;
}

.social-btns-cont {
	float: right;
}

.social-btns-cont > li {
	display: inline-block;
}

.social-btns-cont .vk {
	background-position: -42px -255px;
	
}
.social-btns-cont .vk:hover {
	box-shadow: 2px 3px 1px #067bf9;
}

.social-btns-cont .fb {
	background-position: -127px -174px;
}

.social-btns-cont .fb:hover {
	box-shadow: 2px 3px 1px #0856fd;
}

.social-btns-cont .ok {
	background-position: -295px -174px;
}

.social-btns-cont .ok:hover {
	box-shadow: 2px 3px 1px #f57106;
}

.phone {
	margin-bottom: 20px;
}

.phone img {
	vertical-align: middle;
}

.phone .phone-number {
	vertical-align: middle;
	font-size: 2em;
}

@media (max-width:720px) {
	main {
		min-height: 750px;
	}
	.name-prof-cont span {
		clear: right;
		float: left;
	}
	
}

@media (max-width:555px) {
	.name-prof-cont strong {
		font-size: 30px;
	}
	.e-mail .e-mail-adress {
		font-size: 1.2em;
		font-weight: normal;
	}
	.phone .phone-number {
		font-size: 1.2em;
	}
}