html, body
{
height: 100%;/* растягиваю всю страницу по высоте экрана */
margin: 0; /* убираем наружные отступы */
padding: 0; /* убираем внутренние отступы */
}
body
{
font-size: 14px; /* задаю размер текста для контента = 14px */
color: #000; /* задаю цвет текста = черный */
background: #fff ; /* задаю цвет фона = белый */
margin: 0; /* убираем наружные отступы */
padding: 0; /* убираем внутренние отступы */
}
 
#wrapper {
min-height: 100%; /* минимальная высота блока 100%,т.е. меньшей высоты данный блок никогда не будет */
height: auto !important; /* автоматическая высота для браузера IE */
height: 100%; /* высота блока = 100% */
position: relative; /* Положение элемента устанавливается относительно его исходного места на html-странице */
width:100%; /* ширина блока = 100%, растягиваем ширину на всю страницу*/
margin:0 auto; /* выравнивание блока по центру */
overflow-x:hidden; /* если блок не вмещается по ширине, то указываем не создавать полосу прокрутки по ширине */
}
#header {
margin: 0 auto; /* центрирование блока */
background: red; /* задаю фон = red(красный) header */
width: 100%; /* ширина блока header */
height: 160px; /* высота блока header */
font-size:26px; /* размер шрифта для текста в шапке(блок header) = 26px */
font-family: "Arial Black", Arial, Helvetica, sans-serif; /* указываю какой шрифт использовать */
text-align:center; /* центрируют текст блока header */
border:1px solid #000; /* граница блока толщиной=1px сплошная непрерывная линия черного цвета */
}
 
#content {
background: #fff; /* задаю цвет фона = белый, для блока content */
padding:10px; /* отступ для содержимого блока, со всех сторон = 10px */
margin-top:0px; /* отступ сверху для блока content от блока header = 10px */
padding-bottom: 100px; /* отступ для текста от нижней границы, внутри блока content */
 
}
 
.clear
{
clear: both; /* Отменяет обтекание элемента одновременно с правого и левого края.  */
}
 
/* Footer */
 
#footer {
width: 100%; /* задаю ширину блока = 100% */
height: 80px; /* задаю высоту блока = 80px */
background:red; /* задаю фон = red(красный) footer */
position: absolute; /* устанавливаю абсолютное позиционирование для блока footer */
 
bottom: 0px; /* задаю отступ от нижней границы экрана = 0px, т.е. убираем отступ вообще*/
 
}